#kate/kwrite/vi backups filter
*~
*swp
.*swp
*bak
.*bak

#java binaries
*.class

# Package Files #
*.war
*.ear

## Eclipse specific
*.pydevproject
.project
.metadata
bin/
bin/**
bin/**/*
dist/
dist/**
dist/**/*
tmp/**
tmp/**/*
ucdetector_reports/
ucdetector_reports/**
ucdetector_reports/**/*
*.tmp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
