@CHARSET "UTF-8";

#header {
	background-color: #FFDCA8;
}

#gutter {
	
}

#col1 {
	
}

#col2 {
	
}

#col3 {
	
}

#footer {
	border-top: 1px solid black;
}

table {
	border-collapse: collapse;
}

table,th,td {
	border: 1px solid black;
}

h1 {
	
}

h2 {
	
}

h2,p {
	
}