<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID"
	version="3.0">
	<display-name>Comics DB</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>JsonPresenter</servlet-name>
		<servlet-class>it.d4nguard.comics.web.servlet.JsonPresenterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfMan</servlet-name>
		<servlet-class>it.d4nguard.comics.web.servlet.ConfManServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JsonPresenter</servlet-name>
		<url-pattern>/JsonPresenter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/ComicsDB/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfMan</servlet-name>
		<url-pattern>/admin/ConfMan</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.ws.rs.Application</param-name>
		<param-value>it.d4nguard.comics.rs.webservices.ComicsRESTApplication</param-value>
	</context-param>
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<security-role>
		<role-name>commin</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Comics Database</realm-name>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Administration Area</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
			<url-pattern>/ComicsDB/admin/*</url-pattern>
			<http-method>HEAD</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>commin</role-name>
		</auth-constraint>
<!-- 		<user-data-constraint> -->
<!-- 			<transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
<!-- 		</user-data-constraint> -->
	</security-constraint>
</web-app>